<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 1: Spring引入各个模块的配置文件 -->
    <import resource="classpath*:config/spring-mybatis.xml"/>
    <import resource="classpath*:config/spring-service.xml"/>
    <import resource="classpath*:config/spring-web.xml"/>

    <!-- 2: 开启注解自动扫描 -->
    <context:component-scan base-package="com.tao.seaman.web"/>
    <context:component-scan base-package="com.tao.seaman.upm"/>

</beans>